{% extends 'dashboard/layout/main.html' %}

{% block title %}
{{ block.super }} - Index
{% endblock %}

{% block content %}
<div class="w-full bg-white p-8 rounded-lg shadow-lg">
    <h1 class="text-2xl font-semibold mb-6">Edit Product Record</h1>
    <form id="editProductForm" action="{% url 'update-product' editProduct.id %}" method="POST" class="space-y-6" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="grid grid-cols-2 gap-4">
            <div>
                <label for="product_name" class="block text-sm font-medium text-gray-700">Product Name</label>
                <input type="text" name="product_name" value="{{editProduct.name}}" id="product_name" required
                    class="mt-1 block py-2 px-2 w-full rounded-md border border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50 sm:text-sm">
            </div>
            <div>
                <label for="product_price" class="block text-sm font-medium text-gray-700">Product Price</label>
                <input type="number" step="any" value="{{editProduct.price}}" name="product_price" id="product_price" required
                    class="mt-1 block py-2 px-2 w-full rounded-md border border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50 sm:text-sm">
            </div>
            <div>
                <label for="product_image" class="block text-sm font-medium text-gray-700">Product Image</label>
                <input type="file" name="product_image" value="{{editProduct.image}}" id="product_image" 
                    class="mt-1 block py-2 px-2 w-full rounded-md border border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50 sm:text-sm">
            </div>
            <div>
                <label for="product_file" class="block text-sm font-medium text-gray-700">Product File</label>
                <input type="file" name="product_file" value="{{editProduct.file}}" id="product_file" 
                    class="mt-1 block py-2 px-2 w-full rounded-md border border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50 sm:text-sm">
            </div>
            <div>
                <label for="inventory_count" class="block text-sm font-medium text-gray-700">Inventory Count</label>
                <input type="number" name="inventory_count" value="{{editProduct.inventory_count}}" id="inventory_count" required
                    class="mt-1 block py-2 px-2 w-full rounded-md border border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50 sm:text-sm">
            </div>
            <div>
                <label for="isRecurring" class="block text-sm font-medium text-gray-700">Is Recurring</label>
                <select name="isRecurring" id="isRecurring" required
                    class="mt-1 block py-2 px-2 w-full rounded-md border border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50 sm:text-sm">
                    <option value="" disabled {% if not editProduct.isrecurring %}selected{% endif %}>Select option</option>
                    <option value="True" {% if editProduct.isrecurring == 'Y' %}selected{% endif %}>Yes</option>
                    <option value="False" {% if editProduct.isrecurring == 'N' %}selected{% endif %}>No</option>
                </select>
            </div>
            <div id="recurringPeriodDiv" class="{% if editProduct.isrecurring == 'Y' %}block{% else %}hidden{% endif %}">
                <label for="recurringPeriod" class="block text-sm font-medium text-gray-700">Recurring Period</label>
                <select name="recurringPeriod" id="recurringPeriod"
                    class="mt-1 block py-2 px-2 w-full rounded-md border border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50 sm:text-sm">
                    <option value="" disabled {% if not editProduct.subscription_period %}selected{% endif %}>Select option</option>
                    <option value="monthly" {% if editProduct.subscription_period == 'monthly' %}selected{% endif %}>Monthly</option>
                    <option value="quarterly" {% if editProduct.subscription_period == 'quarterly' %}selected{% endif %}>Quarterly</option>
                    <option value="yearly" {% if editProduct.subscription_period == 'yearly' %}selected{% endif %}>Yearly</option>
                </select>
            </div>
        
            
        
        </div>
        <div>
            <label for="description" class="block text-sm font-medium text-gray-700">Description</label>
            <textarea name="description" value="" id="description" rows="3" required
                class="mt-1 block py-2 px-2 w-full rounded-md border border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50 sm:text-sm" >{{editProduct.description}}</textarea>
        </div>
        <div class="flex justify-end">
            <button type="submit"
                class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                Submit
            </button>
        </div>
    </form>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var isRecurringSelect = document.getElementById('isRecurring');
        var recurringPeriodDiv = document.getElementById('recurringPeriodDiv');
        var editProductForm = document.getElementById('editProductForm');
        var recurringPeriodSelect = document.getElementById('recurringPeriod');

        function toggleRecurringPeriodDiv() {
            if (isRecurringSelect.value === 'True') {
                recurringPeriodDiv.classList.remove('hidden');
                recurringPeriodDiv.classList.add('block');
                recurringPeriodSelect.required = true;
            } else {
                recurringPeriodDiv.classList.remove('block');
                recurringPeriodDiv.classList.add('hidden');
                recurringPeriodSelect.required = false;
            }
        }

        // Initial check when the page loads
        toggleRecurringPeriodDiv();

        // Event listener for changes
        isRecurringSelect.addEventListener('change', toggleRecurringPeriodDiv);

        // Form submit validation
        editProductForm.addEventListener('submit', function (event) {
            if (isRecurringSelect.value === 'True' && recurringPeriodSelect.value === "") {
                alert('Please select a recurring period.');
                event.preventDefault();
            }
        });
    });
</script>

{% endblock %}